@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    height: 100%;
    background: url(gojo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    width: 95%;
    margin: auto;
    /* color: blanchedalmond; */
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-title p{
    color: rgb(133 162 178);
    font-family: 'Oswald';
    font-size: 40px;
    margin: 20px;
    margin-right: 490px;
}

.container-nav ul{
    display: flex;  
    justify-content: space-between;
    list-style: none;
}

.container-nav ul li{
    padding: 30px;
    margin-left: 20px;
    top: 10%;
    text-shadow: rgb(46, 18, 18) -1px -1px 0px;
}

.container-nav ul li a{
    color: rgb(229, 229, 229);
    font-size: 25px;
    text-decoration: none;
    transition: 0.23s;
    font-size: 30px;
    font-weight: bold;
    
}

.container-nav ul li a:hover{
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    font-size: 30px;
    color: rgb(142, 180, 170);
}

.outer-box{
    font-family: 'Lato';
    width: fit-content;
    height: 0vh;
    margin-left: 73%;
    margin-top: -340px;
}

.inner-box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background: linear-gradient(to top left, #8bacac81, #4f788c76);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 10px 11px 20px rgba(37, 42, 45, 0.5);
    z-index: 2;
    text-decoration: none;
}

.signup-header {
    cursor: default;
}

.signup-header h1 {
    font-size: 1.9rem;
    color: #000000;
}

.signup-header p {
    font-size: 1rem;
    color: #292626;
    font-weight: 600;
    margin-top: 9px;
}

.signup-body {
    margin: 25px 0px;
}

.signup-body p {
    margin: 15px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 2px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"]{
    background-color: #11b8f5;       
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
    background-color: #057ba7;
}

.base a {
    color: #007bff;
    font-size: large;
    font-weight: 800;
    transition: 0.25s;
}

.base a:hover{
    color: #fafcfd;
}

.base span{
    color: #080404;
    text-align: center;
    cursor: default;
}

.greet {
    position: absolute;
    margin: 150px 60px;
    cursor: default;
}

.greet-welcome {
    margin-top: 50px auto;
    color: rgb(12 43 73);
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto Slab';
}

.greet-content {
    line-height: 30px;
    font-family: 'Kanit';
    font-size: 25px;
    font-weight: 600;
    word-spacing: 6px;
    color: rgb(250 252 255);
}

.greet-content .highlight {
    color:#b2fff4;
}
